<footer class="footer">
    <ul class="footer-right">
        <img src="assets/images/logo.png" alt="">
        <div class="socials">
        </div>

        <li>
            <h2>Product</h2>

            <ul class="box">
                <li><a href="#">Theme Design</a></li>
                <li><a href="#">Plugin Design</a></li>
            </ul>
        </li>
        <li class="features">
            <h2>Useful Links</h2>

            <ul class="box">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </li>
        <li>
            <h2>Address</h2>

            <ul class="box">
                <li><a href="#">Upsrj</a></li>
                <li><a href="#">Carretera SLP-QRO KM. 37</a></li>
            </ul>
        </li>
    </ul>

    <div class="footer-bottom">
        <p>Todos los derechos reservados por &copy;MonoMonkeys 2020</p>
    </div>
</footer>