<div class="menu-image">
    <img src="assets/images/banner.png" alt="imagen">
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <a href="">
                <img src="assets/images/calendario.png" alt="calendario" style="width:150px; height:auto; padding-top: 10px; margin: auto;">
                <h1>Calendario</h1>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="">                
                <img src="assets/images/doctor.png" alt="doctor" style="width:150px; height:auto; padding-top: 10px; margin: auto;">
                <h1>Doctores</h1>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="">
                <img src="assets/images/paciente.png" alt="paciente" style="width:150px; height:auto; padding-top: 10px; margin: auto;">
                <h1>Paciente</h1>
            </a>            
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="">
                <img src="assets/images/servicios.png" alt="servicios" style="width:150px; height:auto; padding-top: 10px; margin: auto;">
                <h1>Servicios</h1>
            </a>
        </div>
    </div>
</div>
